{
  "plugins": [
    "@babel/plugin-transform-flow-strip-types"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          corejs: 3,
	  targets: {
	    node: "current"
	  },
          modules: "commonjs",
          "useBuiltIns": "usage"
        }]
      ]
    }
  }
}
